<div ng-controller="formCtrl" class="formcont">
    <div
      class="container"
      style="font-family: Verdana, Geneva, Tahoma, sans-serif"
    >
      <div
        class="col-6 col-md-3 position-absolute top-50 start-50 translate-middle p-3"
        style="
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          background-color: rgba(0, 0, 0, 0.4);
          border-radius: 20px;
        "
      >
        <form
          class="formm"
          class="position-absolute top-50 start-50 translate-middle"
        >
          <h2
            class="my-5 text-center formh1"
            style="font-family: Verdana, Geneva, Tahoma, sans-serif"
          >
            You are just a few steps away!
          </h2>
          <div class="mb-3">
            <div class="input-group input-group-lg">
              <input
                type="email"
                id="em"
                class="form-control"
                placeholder="Enter Your Email"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
                ng-model="email"
                style="
                  border: 1px solid transparent;
                  background: rgb(254, 234, 234);
                  border-radius: 40px;
                  padding: 0.46rem 0.75rem;
                  font-size: 1rem;
                  font-weight: 400;
                  overflow: visible;
                  font-family: Verdana, Geneva, Tahoma, sans-serif;
                "
                required
              />
            </div>
          </div>
          <div class="mb-3">
            <input
              type="password"
              class="form-control"
              id="exampleInputPassword1"
              ng-model="password"
              placeholder="Enter Your Password"
              style="
                border: 1px solid transparent;
                background: rgb(254, 234, 234);
                border-radius: 40px;
                padding: 0.46rem 0.75rem;
                font-size: 1rem;
                font-weight: 400;
              "
              required
            />
          </div>
  
          <button
            style="
              font-family: Verdana, Geneva, Tahoma, sans-serif;
              width: 100%;
              border-radius: 40px;
              background: rgba(16, 223, 255, 0.98);
            "
            type="submit"
            class="btn my-4"
            ng-click="func()"
          >
            Log in
          </button>
        </form>
      </div>
    </div>
  </div>